* {
  padding: 0;
  margin: 0;
  font-size: large;
}

body {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
}

header {
  background-image: linear-gradient(
    to bottom right,
    transparent,
    rgb(44, 183, 139),
    rgb(207, 97, 24)
  );
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

nav {
  max-width: 30%;
  max-height: 100%;
  margin: 10px 50px;
}

main {
  margin-top: 20%;

  position: relative;
}

ul {
  list-style: none;
}

ul.lista_links {
  font-size: 15px;

  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

ul.lista_links li {
  margin: 50px 50px;
}

ul.lista_links li > a {
  background-image: linear-gradient(rgb(150, 165, 150), transparent, rgb(225, 243, 30));

}

a {
  text-decoration: none;
}

div.container1 {
  margin-top: 10px;
}
div.container1 h2>span{
  color: chocolate;
}

img.foto_perfil {
  margin: 50px 50px 20px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

ul.icones li {
  height: 5vh;
  width: 10vw;
  display: inline-flex;
  margin-top: 20px;
}

ul.icones li a {
  margin-left: 20px;
  margin-top: 20px;
}

.lista_ordenada {
  color: rgb(207, 97, 24);
}

ol.lista_ordenada li {
  margin-top: 10px;
  margin-left: 50px;
}

span {
  color: black;
}

ul.lista_ordenada li {
  margin-top: 10px;
  margin-left: 30px;
}

ul.lista_links li>p{
  width: 20vw;
}

.margem {
  margin-left: 30px;
}
.margem-icones {
  height: 20vh;
  width: 100vw;
  margin-top: 20px;
  position: absolute;
  top: 100px;
}
